In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\91988\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\91988\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91988\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\91988\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\91988\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\91988\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\91988\Downloads\data scientist\Akhila.python\covid_19.csv")

In [4]:
data.head(5)

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Saint-Helena,Africa,6115.0,2024-06-30,2024-06-30T16:15:16+00:00,2166,2.0,NaN,NaN
1,Falkland-Islands,South-America,3539.0,2024-06-30,2024-06-30T16:15:16+00:00,1930,1930.0,NaN,8632.0
2,Montserrat,North-America,4965.0,2024-06-30,2024-06-30T16:15:16+00:00,1403,1376.0,8.0,17762.0
3,Diamond-Princess,NaN,NaN,2024-06-30,2024-06-30T16:15:16+00:00,712,699.0,13.0,NaN
4,Vatican-City,Europe,799.0,2024-06-30,2024-06-30T16:15:16+00:00,29,29.0,NaN,NaN

In [5]:
data.tail(2)

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
236,Iran,Asia,86022837.0,2024-06-30,2024-06-30T16:15:10+00:00,7627186,NaN,146811.0,57320267.0
237,Indonesia,Asia,279134505.0,2024-06-30,2024-06-30T16:15:10+00:00,6829221,6647104.0,162063.0,114158919.0

In [8]:
print(data.columns)

Index(['country', 'continent', 'population', 'day', 'time', 'Cases',
       'Recovered', 'Deaths', 'Tests'],
      dtype='object')

In [9]:
print(data.shape)

(238, 9)

In [10]:
print(data.shape[1])

9

In [11]:
print(data.shape[0])

238

In [14]:
data.isnull().tail(2)

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
236,False,False,False,False,False,False,True,False,False
237,False,False,False,False,False,False,False,False,False

In [13]:
data = pd.read_csv(r"C:\Users\91988\Downloads\data scientist\Akhila.python\covid_19.csv", usecols = ["Deaths","Tests","country","continent","Recovered"])
data.head(10)

                 country      continent  Recovered  Deaths        Tests
0           Saint-Helena         Africa        2.0     NaN          NaN
1       Falkland-Islands  South-America     1930.0     NaN       8632.0
2             Montserrat  North-America     1376.0     8.0      17762.0
3       Diamond-Princess            NaN      699.0    13.0          NaN
4           Vatican-City         Europe       29.0     NaN          NaN
5         Western-Sahara         Africa        9.0     1.0          NaN
6             MS-Zaandam            NaN        7.0     2.0          NaN
7                  China           Asia   379053.0  5272.0  160000000.0
8                Tokelau        Oceania        NaN     NaN          NaN
9  Saint-Pierre-Miquelon  North-America     2449.0     2.0      25400.0

In [34]:
mean_value = data["Tests"].mean()
print(mean_value)

32988287.854460094

In [35]:
data = data.fillna(mean_value)
data .head(10)

                 country        Deaths         Tests
0           Saint-Helena  3.298829e+07  3.298829e+07
1       Falkland-Islands  3.298829e+07  8.632000e+03
2             Montserrat  8.000000e+00  1.776200e+04
3       Diamond-Princess  1.300000e+01  3.298829e+07
4           Vatican-City  3.298829e+07  3.298829e+07
5         Western-Sahara  1.000000e+00  3.298829e+07
6             MS-Zaandam  2.000000e+00  3.298829e+07
7                  China  5.272000e+03  1.600000e+08
8                Tokelau  3.298829e+07  3.298829e+07
9  Saint-Pierre-Miquelon  2.000000e+00  2.540000e+04

In [23]:
data.isnull().sum()

country        0
continent      2
population     9
day            0
time           0
Cases          0
Recovered     48
Deaths         5
Tests         25
dtype: int64

In [44]:
data1 = pd.read_csv(r"C:\Users\91988\Downloads\data scientist\Akhila.python\covid_19.csv"), usecols = ["continent","Cases","Recovered"])
data1.tail(10)

         continent     Cases   Recovered
228         Europe  24124215  23545818.0
229           Asia  17232066         NaN
230        Oceania  11853144  11820014.0
231           Asia  11625195  10640971.0
232           Asia  10241523  10222518.0
233  South-America  10128845   9997258.0
234         Europe   8635786   8612599.0
235  North-America   7702809   6899865.0
236           Asia   7627186         NaN
237           Asia   6829221   6647104.0

In [18]:
median_value = data["Recovered"].median()

print(median_value)

235145.5