# Loop Statements

In Loop statement, their are two types.
1.While loop
2.For loop

# While loop:

-While loop is used to run a block code until a certain condition is met.

-syntax : # body of while loop.

Example 1

In [6]:
# initialize the variable
x = 10

# while loop from x = 11 to 20
while x <= 20:
    print(x)
    x = x + 1 #increment

10
11
12
13
14
15
16
17
18
19
20

Example 2

In [1]:
y = 100
while y <= 110:
    print(y)
    y = y + 1

100
101
102
103
104
105
106
107
108
109
110

example 3

In [2]:
z = 100
while z >= 90:
    print(z)
    z = z-1

100
99
98
97
96
95
94
93
92
91
90

example 4

In [5]:
a = 20.0
while a <= 20.10:
    print(a)
    a = a + 0.01

20.0
20.01
20.020000000000003
20.030000000000005
20.040000000000006
20.050000000000008
20.06000000000001
20.07000000000001
20.080000000000013
20.090000000000014

# For loop

-Python ,For loop is used to iterating over a sequence (tuple,list,dictonary,string, pr range)

Syntax : 
for val in sequence : #statement(s)

In [4]:
leap_years = [2000,2004,2008,2012,2016,2020,2024,2028,2032,2036,2040,2044,2048]

for leap_year in leap_years:
    print(leap_year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048

In [5]:
vowels =["a","e","i","o","u","A","E","I","O","U"]

for vowel_letter in vowels:
    print(vowel_letter)

a
e
i
o
u
A
E
I
O
U

In [6]:

veg_items = ["vegetable spring rolls","veg pizza","chana musala","palak paneer","paneer masala"]
nonveg_items = ["chicken wings","fish curry","chicken loli pops","butter masala","motton curry"]

for veg in veg_items:
    print(veg)
for non_veg in nonveg_items:
    print(non_veg)

vegetable spring rolls
veg pizza
chana musala
palak paneer
paneer masala
chicken wings
fish curry
chicken loli pops
butter masala
motton curry

In [17]:
# iterate over a range
for square_root in range (30*2,35*2):
    print(square_root)

60
61
62
63
64
65
66
67
68
69

In [18]:
#iterate over a range
for squares in range (5*5,6*6):
    print(squares)

25
26
27
28
29
30
31
32
33
34
35

In [32]:
# iterate over a dictionary
vg_items = {"veg_biryani":60,"palak paneer":50,"paneer masala":25,"chapathi":2}
for item_count in veg_items.count :
    print(f"{item}'s count is {count}")

AttributeError: 'dict' object has no attribute 'count'