# Python Set

In Python ,Set is a collection of elements and it is defined as curly bracket and separated by commas.
- Setis used to store a multiple items in a single variable.
- Set is a unordered,mutable and does not allows duplicates.
-provide varieties of methods for performing common set operation like union, intersection and difference and more.

# Creating set:

In [13]:
#creating a set
family = {"prabakar","uma","rahul","manisha","akhil","akhila","riyansh"}
print(family)

{'manisha', 'uma', 'prabakar', 'rahul', 'riyansh', 'akhil', 'akhila'}

In [17]:
#creating the set  age of family
age = {45,36,30,28,28,21}
print(age)

{36, 21, 28, 45, 30}

In [18]:
#creating list to set
family = set(["prabha","uma","rahul","akhil"])
print(family)

{'akhil', 'uma', 'rahul', 'prabha'}

In [27]:
#creating list to set
language =set (["python","C++","java","c","swift"])
print(language)

{'C++', 'c', 'swift', 'python', 'java'}

In [28]:
#creating list to set
animals = set(["pig","monkey","donkey","elephant","pig","dog","pig"])
print(animals)

{'monkey', 'dog', 'donkey', 'pig', 'elephant'}

# Add and update set items in python

# 1. Add items

WE  can not acces or change anelement of a set using index or slicing.

We use add() method to add items.

In [42]:
odd_numbers = {2,4,6,8,10,14,16,18,20}
#using add method
odd_numbers.add(12)
print('updateset:',odd_numbers)

updateset: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [36]:
number = {7}
number.add(9)
print('lucky number:',number)

lucky number: {9, 7}

In [38]:
colour = {"red","pink","yellow","orange","pile"}
colour.add("voilet")
print('my fav colours are:',colour)

my fav colours are: {'orange', 'red', 'pile', 'yellow', 'pink', 'voilet'}

# update python set

Update () method is used to update the set.

In [49]:
fruits = {"pineapple","kiwi","watermelon"}
vagetable = ["carrot","mirchi","betroot"]
update_fruits = fruits.update(vagetable)
print(fruits)

{'kiwi', 'mirchi', 'betroot', 'carrot', 'watermelon', 'pineapple'}

In [50]:
rivers = {"ganga","godhavari","yamuna"}
lakes = ["pakal","ramappa","laknavaram"]
update_rivers = rivers.update(lakes)
print(rivers)

{'ganga', 'yamuna', 'laknavaram', 'pakal', 'godhavari', 'ramappa'}

# Remove an element from set

We use discard () to remove the item.

In [58]:
language = {"telugu","hindi","marati","english","gujarathi"}
removed_value = language.remove('marati')
print(language)
removed_value = language.discard('hindi')
print('set after removed:',language)
#finding the len of set
print('Total elements:',len(language))

{'telugu', 'hindi', 'gujarathi', 'english'}
set after removed: {'telugu', 'gujarathi', 'english'}
Total elements: 3

# Python Operations:

1.Union of two sets:

Union of the two sets includes all the element of the set.
combines the elements of two sets by removing the duplicates.

In [62]:
school = {"students","teachers","staff","uniform","balt","shoes"}
college = {"students","hostel","labs","staff","parties"}
print('union using |:',school|college)
print('union using union():',school.union(college))

union using |: {'balt', 'staff', 'parties', 'labs', 'students', 'teachers', 'hostel', 'shoes', 'uniform'}
union using union(): {'balt', 'staff', 'parties', 'labs', 'students', 'teachers', 'hostel', 'shoes', 'uniform'}

2.Intersection:
  The Intersection of two sets includes the common elements between two sets.

In [69]:
print('intersection using &:',school&college)
print('intersection using intersection():',school.intersection(college))

intersection using &: {'staff', 'students'}
intersection using intersection(): {'staff', 'students'}

3. Different between two sets:
   The difference between two sets A and B include elements of set A that are not preent in B.

In [64]:
print('difference using:',school - college)
print('difference using difference:',college - school)

difference using: {'balt', 'teachers', 'shoes', 'uniform'}
difference using difference: {'parties', 'labs', 'hostel'}

4. Set Symmetric Difference:
   The symmetric difference between two sets A and B includes all elements of A and B without common elements.

In [68]:
print('using ^:', school^college)
print('using symmetric_difference:', college.symmetric_difference(school))

using ^: {'teachers', 'parties', 'hostel', 'balt', 'labs', 'shoes', 'uniform'}
using symmetric_difference: {'balt', 'parties', 'teachers', 'hostel', 'labs', 'shoes', 'uniform'}