# Define python

-Python is a simple syntax and similar in the English programming language.
-Python is a high level programming language.
-Python is simple and easy to learn.

# 2. Five valid variables

A variable can only contain alpha numaric characters, and underscore(A-Z,a-z and _).

In [1]:
#valid variable
name = "Akhila"
print(name)

Akhila

In [5]:
Age = 21
print(Age)

21

In [6]:
mother_name = "anitha"
print(mother_name)

anitha

In [7]:
fruit_name = "apple"
print(fruit_name)

apple

In [8]:
Narsampet_pin = 506132
print(Narsampet_pin)

506132

# invalid variables

A variables does not start with numbers and specific characters($,@,%)

In [11]:
# invalid variables
!name = "Akhil"
print(!name)

SyntaxError: invalid syntax (1264769324.py, line 3)

In [12]:
$_Fav animal = "Dog"
print($_Fav animal)

SyntaxError: invalid syntax (2472293384.py, line 1)

In [13]:
21age = "Akhila"
print(21age)

SyntaxError: invalid decimal literal (3483451450.py, line 1)

In [14]:
^Date_of_birth = 30-05-2003
print(^Date_of_birth)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (624444332.py, line 1)

In [15]:
@passout year = 2023
print(@passout year)

SyntaxError: invalid syntax (2803481437.py, line 1)

# Define list

List is common data type which is used to store different types of data.
-List is a mutable and defined by using square brackets, separated by comma.

# Creating list

In [20]:
list_planets = ["Stars","Moon""Sun","Sky","Thunder","Mercury","Venus","Earth","Mars","jupiter"]
#acces item at index 0
print(list_planets[0])
#acces item at index 1
print(list_planets[1])
#acces item at index 2
print(list_planets[2])
print(list_planets[3])
print(list_planets[4])
print(list_planets[5])
print(list_planets[6])
print(list_planets[7])
print(list_planets[8])

Stars
MoonSun
Sky
Thunder
Mercury
Venus
Earth
Mars
jupiter

# Create Srings

-String is a sequence of characters.
- Strings use double quotes and single quotes.

In [29]:
str_colour = "My fav colour is Blue"
print(str_colour)

My fav colour is Blue

# Create tuple

In [24]:
tuple_names = ("Akhila","Akhil","harshini")
print(tuple_names)

('Akhila', 'Akhil', 'harshini')

# Create Dictionary

In [25]:
Dic_A = {,"size": 36,"rows" : 5}
print(Dic_A)

{'Books': 26, 'size': 36, 'rows': 5}

# Access the elements above data types

In [33]:
print(str_colour[1])
print(str_colour[0:2])
print(str_colour[0])

y
My
M

In [34]:
print(tuple_names[0])
print(tuple_names[:2])
print(tuple_names[2])

Akhila
('Akhila', 'Akhil')
harshini

In [36]:
print(Dic_A)

{'Books': 26, 'size': 36, 'rows': 5}

# Apply methods on each data types.

# String methods

-upper():Converting a stringto uppercase.

In [38]:
str = "I'M completed my graduation"
print(str.upper())

I'M COMPLETED MY GRADUATION

-lower(): coverting string to lowercase.

In [39]:
str1 = "Now I'M pursuing MBA"
print(str1.lower())

now i'm pursuing mba

-Strip(): Removing leading and trailing whitespace.

In [41]:
str3 = "I'M a student"
print(str3.strip())

I'M a student

-Split(): Splitting into a list.

In [43]:
str5 = "mango,apple, cake, fruit, pine apple"
print(str5.split())

['mango,apple,', 'cake,', 'fruit,', 'pine', 'apple']

Startwith(): Check if it start with specific prefix.

In [45]:
strA = "Kata Akhila"
print(strA.startswith("Kata"))

True

# Tuple Methods

-Count(): Return the number of occurrence of a specified values.

In [46]:
number_1 = (1,2,3,3,4,5,6,7,8,9,3)
print(number_1.count(3))

3

-max() : Return the maximum values.

In [48]:
names = ("Rishi","manish","pinky","lucky")
print(max(names))

pinky

min(): Return the minimum values.

In [49]:
colour = ("PInk","Yellow","White","orange")
print(min(colour))

PInk

len(): Return the number of elements.

In [50]:
number = (100,200,300,4000,500,600,400,240,480,255,799,4567,2827,1872,9899,737383,278)
print(len(number))

17

# Dictionary Methods

keys()

In [53]:
dic_2 ={"son":"Riyansh","age":2,"class":"none","fav":"blue"}

In [55]:
print(dic_2.keys())

dict_keys(['son', 'age', 'class', 'fav'])

values()

In [57]:
print(dic_2.values())

dict_values(['Riyansh', 2, 'none', 'blue'])

In [60]:
print(dic_2.items())

dict_items([('son', 'Riyansh'), ('age', 2), ('class', 'none'), ('fav', 'blue')])