# Strings

-Strings is a sequence of characters or a collection of the characters.

-We use quotes or double quotes to represent a string.

In [3]:
str1 = "Akhila"
str2 = 'Akhil'
str3 = """he is my husband"""
print(str1)
print(str2)
print(str3)

Akhila
Akhil
he is my husband

  # String Methods:

1.Upper():Converting a string to uppercase.

In [6]:
str = "My name is akhila"
print(str.upper())

MY NAME IS AKHILA

Lower(): Converting a string to lowercase.

In [8]:
srt1 = "My mother name is Anitha"
print(srt1.lower())

my mother name is anitha

Strip(): Removing leading and trailing whitespace.

In [9]:
str2 = "My father"
print(str2.strip())

My father

4.Split(): Splitting a string into a list based on a delimiter.

In [10]:
str3 = "Sun,Moon,Stars,Rain,Thunder,summer,Winter,Rainy"
print(str3.split())

['Sun,Moon,Stars,Rain,Thunder,summer,Winter,Rainy']

5.Join(): joining a list of strings into one string using a delimiter.

In [13]:
animal_list =['cat','dog','monkey','loin','king']
animal_names="".join(animal_list)
print(animal_names)

catdogmonkeyloinking

6.Replace(): Replaces all occurrence of a substring in a string with another substring.

In [15]:
str4 = "Hai, Harshini"
print(str4.replace("Hai","Akhila"))

Akhila, Harshini

7.startswith(): Checks if a string starts with a specific prefix.

In [17]:
family ="Bheemagani, star!"
print(family.startswith("Bheemagani"))

True

8.Endswith(): Check if a string ends with a specific suffix.

In [18]:
family = "Bheemagani,star!"
print(family.endswith("Bheemagani"))

False

# Tuple Methods

1.Count(): Returns the number of occurrences of a specified value in a tuple.

In [19]:
odd_numbers = (1,3,5,7,9,11,13,3,15,17,3,19,21,3,23)
print(odd_numbers.count(3))

4

2.Index(): Returns the index of the first occurrence of a specified value in a tuple.

In [22]:
even_numbers = (2,4,6,8,10,12,14,16,18,20)
print(even_numbers.index(12))

5

3. len(): Returns the number of elements in a tuple.

In [23]:
number = (1,2,3,4,5)
print(len(number))

5

4.max(): Return the maximum valu in a tuple.

In [24]:
name = ("Anil","Anvish","Akhilesh","Anitha")
print(max(name))

Anvish

5.min(): Returns the minimum values in a tuple.

In [25]:
game = ("cricket","ball","Bat","ground","Ring")
print(min(game))

Bat

6.Sorted(): Returns new sorted list from the element of the tuple.

In [27]:
list = (1,8,15,6,2,30,28,25)
sorted_lists = sorted(list)
print(sorted_lists)

[1, 2, 6, 8, 15, 25, 28, 30]